{{!-- index.hbs --}}
<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <table>
        {{#each users}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{company.name}}</td>
            </tr>
        {{/each}}
    </table>
</body>
</html>